@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.warehouses {
    position: relative;

    &__page-background {
        position: absolute;
        width: 100%;

        z-index: -1;

        @include tablet-and-desktop {

        }
    }

    &__page-foreground {
        margin-left: $m-site-wide-left-right-padding;
        margin-right: $m-site-wide-left-right-padding;
        margin-top: -5rem;
        background-color: $primary-instock-white;
        border-radius: 0.5rem;
        overflow: hidden;

        @include table-box-shadow;

        @include tablet {
            margin-left: $t-site-wide-left-right-padding;
            margin-right: $t-site-wide-left-right-padding;
            margin-top: -6rem;
        }
    
        @include desktop {
            margin-left: $site-wide-left-right-padding;
            margin-right: $site-wide-left-right-padding;
            margin-top: -6rem;
        }
    }
}