@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.warehouses {
    position: relative;

    &__page-background {
        background-color: $background-graphite;
        position: absolute;
        width: 100%;
        height: 3.75rem;
        z-index: -1;

        &--hide {
            display: none;

            @include tablet-and-desktop {
                display: block;
            }
        }

        @include tablet-and-desktop {
            height: 7rem;
        }
    }

    &__page-foreground {
        margin-left: $m-site-wide-left-right-padding;
        margin-right: $m-site-wide-left-right-padding;
        margin-top: -4.5rem;
        background-color: $primary-instock-white;
        border-radius: 0.25rem;
        overflow: hidden;
        @include table-box-shadow;

        &--hide {
            display: none;

            @include tablet-and-desktop {
                display: block;
            }
        }

        @include tablet {
            margin-left: $t-site-wide-left-right-padding;
            margin-right: $t-site-wide-left-right-padding;
            margin-top: 0;
        }
    
        @include desktop {
            margin-left: $site-wide-left-right-padding;
            margin-right: $site-wide-left-right-padding;
            margin-top: 0;
        }
    }

    &__dimming-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        background-color: $background-graphite;
        opacity: 0.75;

        &--hidden {
            display: none;
        }
    }

    &__delete-modal {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;

        @include tablet-and-desktop {
            top: 7rem;
        }

        &--hidden {
            display: none;
        }
    }
}