@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid $secondary-cloud;
    border-radius: 1.25rem;
    padding: 0.25rem 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    width: 100%;

    @include tablet-and-desktop {
      margin-bottom: 0;
      width: auto;
      min-width: 12.5rem;
    }

    &--right-margin {
      margin-right: 0rem;

      @include tablet-and-desktop {
        margin-right: 1rem;
      }
    }


    &__input {
        @include m-labels-links-buttons;
        outline: none;
        border: none;
        width: 100%;
        font-weight: 500;
    
        @include tablet-and-desktop {
          @include labels-links-buttons;
          font-weight: 500;
        }
      }
    
      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
      }
}