@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.edit-warehouse { 
  margin: 0 auto;
  padding: 1rem;
  background-color: $background-light-grey; // Using your variable

  // Responsive adjustments
  @media screen and (min-width: 48rem) {
    // 768px
    padding: 1.5rem 2rem;
  }

  @media screen and (min-width: 80rem) {
    // 1280px
    padding: 2rem 2.5rem;
  }
}
