//breakpoints
$phone-breakpoint: 320px;
$min-tablet-breakpoint: 768px;
$max-tablet-breakpoint: 1279px;
$desktop-breakpoint: 1280px;

//font weights
$font-weight-semibold: 600;
$font-weight-regular: 400;

//colours
$primary-instock-black: #13182C;
$primary-instock-indigo: #2E66E5;
$primary-instock-white: #FFFFFF;
$secondary-slate: #5C667E;
$secondary-cloud: #BDC5D5;
$background-graphite: #232940;
$background-light-grey: #F7F8F9;
$support-green: #158463;
$support-red: #C94515;