//breakpoints
$phone-breakpoint: 320px;
$min-tablet-breakpoint: 768px;
$max-tablet-breakpoint: 1279px;
$desktop-breakpoint: 1280px;

//font weights
$font-weight-semibold: 600;
$font-weight-regular: 400;

//colours


