@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.delete-warehouse {
    background-color: $primary-instock-white;
    border-radius: 0.5rem;

    &__message-header {
        @include m-page-header;
        font-weight: 400;
        margin: 0;
        padding: 0;

        @include tablet-and-desktop {
            @include page-header;
            font-weight: 400;
        }
    }

    &__message-text {
        @include m-body-large;
        font-weight: 300;
        margin: 0;
        padding: 0;

        @include tablet-and-desktop {
            @include body-large;
            font-weight: 300;
        }
    }
}