@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.addwarehouse {
  padding: 1rem;

  @include tablet {
    padding: 1.5rem 2rem;
  }

  @include desktop {
    padding: 2rem 7.5rem;
  }
}
