@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.inv-details {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    padding-left: $m-warehouse-page-left-right-padding;
    padding-right: $m-warehouse-page-left-right-padding;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $secondary-cloud;
    
    @include tablet-and-desktop {
        flex-direction: row;
    }

    @include tablet {
        padding-left: $t-warehouse-page-left-right-padding;
        padding-right: $t-warehouse-page-left-right-padding;
    }

    @include desktop {
        padding-left: $warehouse-page-left-right-padding;
        padding-right: $warehouse-page-left-right-padding;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        box-sizing: border-box;
        height: auto;
        width: 100%;
        @include tablet-and-desktop {
            border-right: 1px solid $secondary-cloud;
            padding-bottom: 0;
        }
    }

    &__description-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        box-sizing: border-box;
        height: auto;
        width: 100%;
        margin-bottom: 1.5rem;

        @include tablet-and-desktop {
            flex-direction: column;
        }
    }

    &__status {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding-left: 0rem;

        @include tablet {
            padding-left: 3rem;
        }

        @include tablet-and-desktop {
            padding-left: 4rem;
        }
    }

    &__status-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        height: auto;
        width: 100%;
    }
    &__status-block-individual {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    &__quantity {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: auto;
        width: 100%;
    }

    &__label {
        @include m-labels-links-buttons;
        font-weight: 400;
        color: $secondary-slate;
        margin-bottom: 0.25rem;

        @include tablet-and-desktop {
            @include labels-links-buttons;
            font-weight: 400;
        }
    }

    &__text {
        width: 85%;
        @include m-labels-links-buttons;
        font-weight: 300;

        @include tablet-and-desktop {
            @include labels-links-buttons;
            font-weight: 300;
        }
    }
}