@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.footer {
    width: 100%;
    background-color: $background-light-grey;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 1rem;

    @include tablet-and-desktop {
        padding-top: 6rem;
        padding-bottom: 3rem;
        margin-top: 16rem;
    }
    @include desktop {
        margin-top: 9.6rem
    }

    &__text {
        @include m-body-small; 
        color: $secondary-slate;
        text-align: center;
        margin: 0;
    }
}